{% extends 'base.html.twig' %}

{% block title %}
	Création d'une réponse |
	{{ parent() }}
{% endblock %}

{% block body %}
	<div class="section-content-home">
		<div class="card mx-auto p-3 mt-4">
			<h1 class="text-center">Création d'une réponse</h1>
			{{ form_start(form) }}
			{{ form_row(form.content) }}
		</ul>
		<div class="text-center">
			<button class="btn btn-social-primary">Publier</button>
		</div>
		{{ form_end(form) }}
	</div>
{% endblock %}
